In [3]:
import pandas as pd
dataset=pd.read_csv('golf_df.csv')
dataset.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [4]:
df=dataset.iloc[:,:].values
df

array([['sunny', 'hot', 'high', False, 'no'],
       ['sunny', 'hot', 'high', True, 'no'],
       ['overcast', 'hot', 'high', False, 'yes'],
       ['rainy', 'mild', 'high', False, 'yes'],
       ['rainy', 'cool', 'normal', False, 'yes'],
       ['rainy', 'cool', 'normal', True, 'no'],
       ['overcast', 'cool', 'normal', True, 'yes'],
       ['sunny', 'mild', 'high', False, 'no'],
       ['sunny', 'cool', 'normal', False, 'yes'],
       ['rainy', 'mild', 'normal', False, 'yes'],
       ['sunny', 'mild', 'normal', True, 'yes'],
       ['overcast', 'mild', 'high', True, 'yes'],
       ['overcast', 'hot', 'normal', False, 'yes'],
       ['rainy', 'mild', 'high', True, 'no']], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [9]:
df[:,0]=lb.fit_transform(df[:,0]).astype('int')
df[:,1]=lb.fit_transform(df[:,1]).astype('int')
df[:,2]=lb.fit_transform(df[:,2]).astype('int')
df[:,3]=lb.fit_transform(df[:,3]).astype('int')
df[:,4]=lb.fit_transform(df[:,4]).astype('int')
Y=pd.DataFrame(df)
Y.head()

   0  1  2  3  4
0  2  1  0  0  0
1  2  1  0  1  0
2  0  1  0  0  1
3  1  2  0  0  1
4  1  0  1  0  1

In [10]:
x=Y.iloc[:,:-1].astype('int')
y=Y.iloc[:,-1].astype('int')
x

    0  1  2  3
0   2  1  0  0
1   2  1  0  1
2   0  1  0  0
3   1  2  0  0
4   1  0  1  0
5   1  0  1  1
6   0  0  1  1
7   2  2  0  0
8   2  0  1  0
9   1  2  1  0
10  2  2  1  1
11  0  2  0  1
12  0  1  1  0
13  1  2  0  1

In [11]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: 4, dtype: int32

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [22]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100,criterion='entropy')
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
y_pred=clf.predict(x_test)
y_pred

array([0, 1, 1])

In [24]:
from sklearn import metrics
accuracy=metrics.accuracy_score(y_test,y_pred)
accuracy

0.6666666666666666

In [25]:
count_missclassified=(y_test!=y_pred).sum()
count_missclassified

1

In [26]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [1, 2]], dtype=int64)